*.out
*.o
*.so
*.Identifier
*.a
*.mp4
*.log

.vscode/
__pycache__/

test_data/img_with_preds/**
!test_data/img_with_preds/README.md

test_data/host_partitions/protected/**
!test_data/host_partitions/protected/README.md
